<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHSService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHSService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9898/HS" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHSService" contract="HSService.IHSService" name="BasicHttpBinding_IHSService" />
            <endpoint address="net.tcp://localhost:9897/HS" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHSService" contract="HSService.IHSService" name="NetTcpBinding_IHSService">
                <identity>
                    <userPrincipalName value="EVAL\Karter" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>